<footer class="footer">
    <div>
        <p class="paragraph-no-margin">Trebol.com <a class="ftr-text" href="https://github.com/FrancoPalavicinoG">©FrancoPalavicinoG</a> <a class="ftr-text" href="https://github.com/Im-diegollull">©Im-diegollull</a></p>
        <p class="paragraph-no-margin">All Rights Reserved, All Wrongs Reversed</p>
    </div>
</footer>