<div class="header-container">
    <i class="bi bi-person-circle icon-color fs-1 ms-3"></i>
    <h1 class="h1-text"><%= @user.name %></h1>
    <%= link_to boards_path, class: "card-link icon-return" do %>
        <i class="bi bi-arrow-return-left icon-color"></i>
    <% end %>
</div>
<p class="text-secondary text-start ms-5 fs-4"><%= @user.email %></p>
    
