<div class="header-container">
    <h1 class="h1-text"><%= @user.name %></h1>
    <%= link_to users_path, class: "card-link icon-return" do %>
        <i class="bi bi-arrow-return-left icon-color"></i>
    <% end %>
</div>